.container {
    background-color: #2F384F;

    color: #EEF1F6;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 13px;
    font-size: 14px;
    margin-right: 6px;
    transition-duration: 100ms;

    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.selectedButton {
    background-color: #EEF1F6;
    color: #2C2E44;
}